<!DOCTYPE html>
<html lang="en">
<title>Error</title>

<head>
    <link rel="shortcut icon" type="image/jpg" href="images/favicon.ico" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styles.css">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<body class="text-center">
    
    <div class="card text-center form goHome">

        <div class="card-body mainColor">
            <h5 class="card-title">Sorry, There was a issue loading your image.</h5>
            <p class="card-text">Please try again</p>
            <form action="/failure" method="post">
                <button class="btn btn-warning" type="submit" name="button"> Try Again</button>
            </form>
        </div>

    </div>
</body>




</html>