<%- include('partials/header'); %>
<div class="card text-center form goHome">

    <div class="card-body mainColor">
        <h5 class="card-title">Sorry, There was a issue loading your image.</h5>
        <p class="card-text">Please try again</p>
        <form action="/failure" method="post">
            <button class="btn btn-warning" type="submit" name="button"> Try Again</button>
        </form>
    </div>

</div>
<%- include('partials/footer'); %>