<%- include('partials/header'); %>

<body class="text-center">
    <div class="form"></div>
    <form class="form-signin" action="/" method="post">
        <img class="mb-4 gif"
            src="https://media0.giphy.com/media/VLRRWXGuwHpny/200w.gif?cid=82a1493be6ucyltp42x5bk8qgkcjcjoh4bl2z77uaok9gkn4&rid=200w.gif&ct=s"
            alt="">
        <h1 class="h3 mb-3 font-weight-normal">NASA's Picture of the Day for: </h1>

        <input placeholder="Today" type="text" onfocus="(this.type = 'date')" id="dateC" type="date" name="dateChosen">

        </label>
        </div>
        <div class="bottom-row">
            <button class="btn btn-md btn-primary btn-block" type="submit">Lets See It!</button>
            
        </div>
    </form>
    </div>
    <%- include('partials/footer'); %>